<div class="w-full sticky top-0 px-16 py-6 flex justify-between items-center border border-solid border-t-0 border-l-0 border-r-0" >
    <div><img src="../../assets/Images/CDAL Logo_2.svg" alt=""></div>
    <div class="flex gap-16 items-center ">
        <div class="relative cursor-pointer px-4">
        <img src="../../assets/Images/notification  bell.svg" alt="" >
        <div class="rounded-md bg-[#EFF2F6] h-[22px] w-[24px] flex items-center justify-center text-grey text-sm absolute bottom-5 p-1 left-9">0</div> 
    </div>
        <div class="flex items-center gap-4"> 
            <p> Renmoney</p>
            <div class="w-[48px] h-[48px] flex items-center justify-center bg-[#0039A6] rounded-full text-white">BP</div>
        </div>
    </div>
</div>