.logoTransition {
    position: relative;
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation: mylogo 2s ;
  }
  
  @keyframes logo {
    0%   { top:-200px;}
  }
  @keyframes mylogo {
    from {top: -500px;}
    to {top: 0px;}
  }
  .formTransition {
    position: relative;
    animation-name: form;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation: myform 2s ;
  }
  
  @keyframes form {
    0%   { left:-100%;}
  }
  @keyframes myform {
    from {left: -100%;}
    to {left: 0px;}
  }