$primary-color: #0039A6; // Change color here. C'mon, try it! 
$text-color: mix(#4B5466, $primary-color, 64%);





label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;

  input {
    position: absolute;
    left: -9999px;
    &:checked + .radio-label {
      // background-color: mix(#fff, $primary-color, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em $primary-color;
      }
    }
  }
  .radio-label {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em; 
    transition: 0.25s ease;
   
   
    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #D9DFE9;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 1.3em;
      transition: 0.25s ease;
      // box-shadow: inset 0 0 0 0.125em $primary-color;
      outline: none;
    }
  }
}

