<app-auth-header></app-auth-header>
<div class="px-6">
    <div class="max-w-[389px] mx-auto mt-20">
        <div>
            <div><img class="mx-auto mb-8" src="assets/Images/Send-email.svg" alt=""></div>
        <h2 class="text-center text-[#0039A6] text-[2.2rem] font-extrabold mb-4 ">Email Sent!</h2>
        <p class="text-center text-lg">
            A password reset link has been sent to your email <span class="text-[#0039A6]">(kem..@gmail.com)</span>. if you can’t find the mail in your main inbox folder, check your spam folder. 
        </p>
        </div>
    </div>
</div>