<app-auth-header></app-auth-header>
<div class="px-6">
    <div class="max-w-[389px] mx-auto">
        <div>
              <!-- reset image -->
           <div class="mb-10">
               <img class="mx-auto" src="assets/Images/forgot-passwordImg.svg" alt="">
           </div>
           <div class="mb-2.5 text-[#0039A6] text-2xl text-center">Enter New Password </div>
       
           <!-- form -->
           <form [formGroup]="passwordChange"  (ngSubmit)="savePassword()" class="">
            <div class="form-group mb-4">
              <div class="text-base text-[#6E7A91]  mb-2">
                <label for="">Enter new Password</label>
              </div>
                <div>
                  <div class="relative w-full mb-8">
                    <app-login-input [class]="' placeholder:text-[#A0AABD] block pl-[60px] pr-[60px] outline-0 rounded-[8px] bg-[#EFF2F6] p-3 w-full'"
                    [placeholder]="'New password'" [type]="passwordType1"
                    [control]="$any(passwordChange.get('newPassword'))" [errorMessage]="'Password is Required'" [required]="true">
                    </app-login-input>
                    <!-- <div class=""> -->
                      
                    <img class="w-6 h-6 absolute left-5 top-1/2 translate-y-[-50%]" src="assets/Images/padlock.svg" alt="">
                    <img class="w-6 h-6 cursor-pointer absolute right-5 top-1/2 translate-y-[-50%]" [src]='passwordImgUrl1' alt="" (click)="toggleEye1()">
                    <!-- </div> -->
                  </div>
                  <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="passwordChange.get('newPassword')?.errors?.['required'] && passwordChange.get('newPassword')?.touched">New password is required!</small>
                  <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="passwordChange.get('newPassword')?.errors?.['minlength']">New password must not be more than 4 numbers</small>
                  </div>
            </div>
        
            <div class="form-group">
              <div class="text-base text-[#6E7A91]  mb-2">
                <label for="">Confirm Password</label>
              </div>
              <div>
                <div class="relative w-full mb-8">
                    <app-login-input [class]="' placeholder:text-[#A0AABD] block pl-[60px] pr-[60px] outline-0 rounded-[8px] bg-[#EFF2F6] p-3 w-full'"
                    [placeholder]="'Confirm password'" [type]="passwordType2"
                    [control]="$any(passwordChange.get('confirmPassword'))" [errorMessage]="'Password is Required'" [required]="true">
                    </app-login-input> 
                                    
                        <img class="w-6 h-6 absolute left-5 top-1/2 translate-y-[-50%]" src="assets/Images/padlock.svg" alt="">
                        <img class="w-6 h-6 cursor-pointer absolute right-5 top-1/2 translate-y-[-50%]" [src]='passwordImgUrl2' alt="" (click)="toggleEye2()">                  <!-- </div> -->
                </div>
                <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="passwordChange.get('confirmPassword')?.errors?.['required'] && passwordChange.get('confirmPassword')?.touched">Confirm password is required!</small>
                <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="passwordChange.get('confirmPassword')?.errors?.['minlength']">Confirm password must not be more than 4 numbers</small>
              </div>
          </div>
          <div class="mb-10">
            <app-app-btn [overRideButtonClass]="true" [disabled]="passwordChange.invalid"  [customClass]="'bg-[#0039A6] w-full py-[12px] rounded-[10px] px-[24px] text-center cursor-pointer md:text-base text-white'" [buttonText]="'Save and continue'"></app-app-btn>
        </div>
        </form>
        </div>
       </div>
</div>