<div class="bg-[#F8F9FB] px-12 pt-8">
    <div class="flex justify-between ">
        <div>
            <p class="font-[500] text-[#0039A6] font-avenir-book">Most recent requests</p>
            <p class="text-[#4B5466] font-avenir-book">There is a two line supporting Text here, that gives </p>
        </div>
        <div>
            <app-app-btn [overRideButtonClass]="true"
            [buttonImage]="btnImg"
            [buttonText]="'New request'"
            [customClass]="'bg-[#0039A6] px-4 py-2 text-white rounded-md'"></app-app-btn>
            
        </div>
    </div>

    <div class="w-[95%] bg-white rounded-lg border border-solid mt-12 px-8 ">
       <div class="flex justify-between items-center py-8 ">
        <div class="  flex gap-4 w-[40%] px-4 py-2 bg-[#EFF2F6] rounded-xl">
        <img src="/assets/Images/search.svg" alt="">
        <input type="text" placeholder="Search" class="border-0 outline-none bg-[#EFF2F6]">
       </div>
       <div class="flex gap-4 items-center cursor-pointer relative">
            <div class="flex gap-4 border px-2 py-2 rounded-md" #sortby (click)="showSort = !showSort">
                <p class="text-[#003CAB]">Sort</p>
                <img src="assets/Images/keyboard_arrow_down_24px.svg" alt="">

                
                    <ul class="absolute bg-white rounded-xl border border-solid text-left  px-4 w-[250px] py-4" *ngIf="showSort" #sortbyDIv>
                        <li class="font-[350]">Sort By</li>
                        <li  class="text-[#6E7A91]">Oldest to newest</li>
                        <li  class="text-[#6E7A91]" >Newest to oldest</li>
                        <li class="text-[#6E7A91]">Ascending Order (A-Z)</li>
                        <li class="text-[#6E7A91]">Descending Order (Z-A)</li>
                    </ul>
                
                
            </div>
             <div class="flex gap-4 border px-2 py-2 rounded-md cursor-pointer">
                <p class="text-[#003CAB]">Filter</p>
                <img src="assets/Images/keyboard_arrow_down_24px.svg" alt="">
                
            </div>
       </div>
       </div>

       <table  class="w-full">
        <th class="w-full bg-[#f8f9fb] py-4 rounded-md ">
                <tr class="flex gap-2 items-center">
                <td class="text-[#0039A6] w-[10%] font-avenir-book text-left">S/N</td>
                <td class="text-[#0039A6] w-[40%] font-avenir-book text-left">Customer Details</td>
                <td class="text-[#0039A6] w-[30%] font-avenir-book text-left">Data Initiated</td>
                <td class="text-[#0039A6] w-[20%] font-avenir-book text-left ">Status of Request</td>
                </tr>
       </th>
       <tbody class="w-full rounded-md ">
        <tr class="flex gap-2 items-center border-b" *ngFor="let  customer of customerDetails">
            <td class="py-8 font-avenir-book  w-[10%]">{{customer.index}}</td>
            <td class="w-[40%] font-avenir-book">{{customer.customerDetails}}</td>
            <td class="w-[30%] font-avenir-book">{{customer.date}}</td>
            <td class=" bg-[#CBFFAE] font-avenir-book text-[#067306] rounded-md text-center w-[10%]" [ngClass]="{'bg-[#FFE6B0] text-[#946300]' : customer.statusOfRequest=== 'Pending' , 'bg-[#FFABE8] text-[#9E0038]' : customer.statusOfRequest=== 'Rejected'}">{{customer.statusOfRequest}}</td>
        </tr>
       </tbody>
       </table>
    </div>
</div>