<div class="bg-[#F8F9FB] px-12 pt-8">
    <div class="flex justify-between ">
        <div>
            <p class="font-[500] text-[#0039A6]">Most recent requests</p>
            <p class="text-[#4B5466] ">There is a two line supporting Text here, that gives </p>
        </div>
        <div>
            <app-app-btn [overRideButtonClass]="true"
            [buttonImage]="btnImg"
            [buttonText]="'New request'"
            [customClass]="'bg-[#0039A6] px-4 py-2 text-white rounded-md'"></app-app-btn>
            
        </div>
    </div>

    <div class="w-[95%] bg-white rounded-lg border border-solid mt-12 px-8 ">
       <div class="flex justify-between items-center py-8 ">
        <div class="  flex gap-4 w-[40%] px-4 py-2 bg-[#EFF2F6] rounded-xl">
        <img src="/assets/Images/search.svg" alt="">
        <input type="text" placeholder="Search" class="border-0 outline-none bg-[#EFF2F6]">
       </div>
       <div class="flex gap-4 items-center cursor-pointer">
            <div class="flex gap-4 border px-2 py-2 rounded-md">
                <p class="text-[#003CAB]">Sort</p>
                <img src="assets/Images/keyboard_arrow_down_24px.svg" alt="">
                
            </div>
             <div class="flex gap-4 border px-2 py-2 rounded-md cursor-pointer">
                <p class="text-[#003CAB]">Filter</p>
                <img src="assets/Images/keyboard_arrow_down_24px.svg" alt="">
                
            </div>
       </div>
       </div>

       <table  class="w-full">
        <thead class="flex justify-between w-[90%] bg-[#D9DFE9] mr-20 px-4 py-2 rounded-md">
            <th class="text-[#0039A6]">S/N</th>
            <th class="text-[#0039A6]">Customer Details</th>
            <th class="text-[#0039A6]">Data Initiated</th>
            <th class="text-[#0039A6]">Status of Request</th>
       </thead>
       </table>
    </div>
</div>