<div class="bg-[#F8F9FB] px-12 pt-8">
    <div class="flex justify-between ">
        <div>
            <p class="font-[500] text-[#0039A6]">Most recent requests</p>
            <p class="text-[#4B5466] ">There is a two line supporting Text here, that gives </p>
        </div>
        <div>
            <app-app-btn [overRideButtonClass]="true"
            [buttonImage]="btnImg"
            [buttonText]="'New request'"
            [customClass]="'bg-[#0039A6] px-4 py-2 text-white rounded-md'"></app-app-btn>
            
        </div>
    </div>

    <div>
        
    </div>
</div>