<div class="flex flex-col lg:pt-20 lg:px-8 bg-[#f8f9fb] font-avenir-book p-8 rounded-lg shadow-lg">
  <div class="mb-8">
    <p class="text-primaryBlue md:text-lg"></p>
    <p class="text-grayscaleBody">Get an analytical insight into your activities in your CDAL Dashboard.</p>
  </div>
  <div class="bg-white flex p-8 lg:pt-16 lg:pb-36 rounded-lg shadow-lg">
    <div class="mx-auto flex flex-col ">
      <p class="mb-8">
        Enter, and set paramaters below to generate a report
      </p>
      <div>
        <p class="pb-3 text-grayscaleBody"> Set Report Duration</p>
      <mat-form-field appearance="fill" class="w-full p-0 rounded-[10px] mb-8">
        <mat-label> Enter a date range</mat-label>
        <div class="flex flex-between items-center">
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="MM/DD/YYYY ">
            <input matEndDate placeholder="MM/DD/YYYY">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
      </mat-form-field>
                <app-app-btn 
                    [overRideButtonClass]="true" 
                    [customClass]="'w-full text-base leading-6 font-[500] text-[#FCFCFC] bg-[#0039A6] rounded-[12px] align-center items-center flex py-4 px-4'" 
                    [buttonText]="'Generate Report'" 
                    (buttonClick)="reportDataTable()">
                </app-app-btn>
      </div>

    </div>
  </div>
</div>
