<app-auth-header></app-auth-header>
<div class="px-6">
    <div class="max-w-[389px] mx-auto">
     <div>
           <!-- reset image -->
        <div class="mb-10">
            <img class="mx-auto" src="assets/Images/forgot-passwordImg.svg" alt="">
        </div>
        <div class="mb-2.5 text-[#0039A6] text-2xl text-center">Reset Password </div>
        <div class="mb-12 text-base text-[#4B5466] text-center">Please enter your application email address to reset your CIDAL FIU account password. </div>
    
        <!-- form -->
        <form [formGroup]="resetPassword" (ngSubmit)="forgotPassword()" class="mb-6">
            <div class="form-group mb-4">
                <div class="text-base text-[#6E7A91] mb-2">
                    <label for="">Email</label>
                  </div>
                <div class="relative w-full mt-2 mb-2">
                    <app-login-input [class]="' placeholder:text-[#A0AABD] block pl-[60px] pr-[60px] outline-0 rounded-[8px] bg-[#EFF2F6] p-3 w-full'"
                         [placeholder]="'Enter email'" [type]="'text'"
                         [control]="$any(resetPassword.get('email'))" [errorMessage]="'This is Required'" [required]="true">
                    </app-login-input>
                    <!-- <div class=""> -->
                        <div>
                            <img class="w-6 h-6 absolute left-5 top-1/2 translate-y-[-50%] " src="assets/Images/email.svg" alt="">
                            <img *ngIf="resetPassword.value.email?.length" class="w-4  h-4 cursor-pointer absolute right-5 top-1/2 translate-y-[-50%]" src="assets/Images/minus.svg" alt=""
                            (click)="clearForgotInput('email')"
                        >
                        </div>
                    <!-- </div> -->
                  </div>
                  <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="resetPassword.get('email')?.errors?.['required'] && resetPassword.get('email')?.touched">Email is required!</small>
                  <small class="text-red-500 block text-ex-sm-regular mt-2 block" *ngIf="resetPassword.get('email')?.errors?.['email'] && resetPassword.get('email')?.touched"> Invalid Email</small>

                  <div class="text-sm text-[#292B2F]">A password reset link would be send to this email</div>
                <div class="mt-8">
                    <app-app-btn [overRideButtonClass]="true" [disabled]="resetPassword.invalid" (click)="forgotAndResetPassword()" [customClass]="'bg-[#0039A6] w-full py-[12px] rounded-[10px] px-[24px] justify-center cursor-pointer md:text-base text-white'" [buttonText]="'Submit'"></app-app-btn>
                </div>
            </div>
        </form>
        <div class="text-center text-sm text-[#4B5466] cursor-pointer" routerLink="/login">Back</div>
     </div>
    </div>
</div>