<div class="lg:w-[450px] rounded-xl flex flex-col items-center">
    <img src="assets/Images/logout-modal.png" alt="" class="flex mx-[auto]  ">
    <p class="text-[#CA0212] font-[500] text-xl py-4 text-center">Log out?</p>
    <p class="text-[#4B5466] font-[400] text-lg font-avenir-book pb-4 text-center">Are you sure you want to Log out directly from your Financial Information User (FIU) Dashboard?</p>
   <div class="flex mx-[auto] gap-4 items-center">
     <app-app-btn [overRideButtonClass]="true"
                [customClass]="'bg-[#0039A6] text-white px-2 py-2 rounded-lg font-avenir-book'"
                [buttonText]="'Yes, Log out'">

    </app-app-btn>
     <p class="text-[#4B5466] font-avenir-book cursor-pointer" (click)="close()">No, Cancel</p>
   </div>
</div>